# Compiled JavaScript files
**/*.js
**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
.env
med-school-journey-c7425-firebase-adminsdk-gujnx-92463afcf2.json
sendgrid.env
sendgrid.env
