.mat-tab-label{
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  margin-left: 0%;
  margin-right: 0%;
}

::ng-deep .mat-tab-header {
  position: fixed !important;
  top: 64px;
  width: 100%;
  overflow: scroll;
  background-color: rgba(245, 245, 245, 0.925);
  z-index: 1;

}

::ng-deep .mat-tab-body-wrapper{
  z-index: 0;
  overflow: hidden;
  margin-top:0px;
  padding: 2rem;
}

::ng-deep div.mat-tab-body-content{
  z-index: 0;
  margin:0;

}

::ng-deep mat-tab-group {
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 640px){
  ::ng-deep .mat-tab-header {
    position: fixed !important;
    top: 56px;
    left: auto;
    width: 100%;
    overflow: hidden;
    background-color: white;
    z-index: 2;
  }

}

::ng-deep .mat-tab-body.mat-tab-body-active {
  animation: fade 500ms ease-in-out;
}


@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}
