@media screen and (min-width: 1290px){
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 40px;
    height: 860px;
  }
}
@media screen and (max-width: 1289px){
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
}

@media screen and (max-width: 943px){
  .card-grid {
    display: grid;
    grid-template-columns: 350px 350px;
  }
}
@media screen and (max-width: 643px){
  .card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    gap: 20px;
  }

.mat-card {

  display: flex;
  flex-direction: row;
justify-self: center;
  margin-top: 50px;
  padding: 1rem;
  z-index: 0;
  width: 550px;


  }
}

.mat-card {

  display: flex;
  flex-direction: column;

  margin-top: 50px;
  padding: 1rem;
  z-index: 0;
  max-width: fit-content;


}

.mat-card-title.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 1rem;
}
.mat-card-subtitle{
  text-align: center;
}

.mat-card-content {
text-align: center;
h6 {
  margin-top: 45px;
}
}

.mat-card-actions {
text-align: center;
}

button{
  padding: 0.5rem;
  margin:0.5rem;
}
