<div matTab>
  <mat-card *ngFor="let availableCourse of availableCourses">
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card-header>
            <mat-card-title class="title">
                {{availableCourse.title}}
            </mat-card-title>
            <mat-card-subtitle>
                Τελευταία ενημέρωση: {{ availableCourse.created_at.seconds*1000 | date: 'dd/MM/yyyy' }}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='{{availableCourse.image_ref}}' style="width:150px; height:100px;" alt="">
        <mat-card-content>
            <h6>{{availableCourse.price | currency: 'EUR'}} </h6>
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" (click)="openDialog(availableCourse)">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-actions>
    </div>
  </mat-card>
</div>
