<div class="card-grid">
  <mat-card class="mat-elevation-z3"  *ngFor="let course of courses">
        <mat-card-title-group>
            <mat-card-title class="title">
                {{course.title}}
            </mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
           <img mat-card-image src="assets/images/{{course.course_id}}/{{course.title}}-1-200x200.png" style="width:150px; height:100px;" alt="">
            <h4>{{course.price | currency: 'EUR'}} </h4>
        </mat-card-content>


<mat-card-actions class="footer" style="text-align: center;">
  <div>
      <button mat-icon-button color="primary" (click)="viewFile(course.file_ref)"><mat-icon>cloud_download</mat-icon></button>
  </div>
</mat-card-actions>
  </mat-card>
</div>


