::ng-deep .mat-card {
  background-color: rgba(247, 247, 247, 0.850);
  margin: auto;
  margin-top: 135px;
  padding: 1rem;
  z-index: 0;

  img.mat-card-image {
      margin: 0;
      margin-top:0.5rem;
  }
  .mat-card-title.title {
      text-align: center;
      font-size: 22px;
      margin-bottom: 1rem;
  }
  .mat-card-subtitle{
      text-align: center;
  }

  button.mat-focus-indicator.mat-icon-button.mat-button-base.mat-primary{
      padding: 5px;
      border-radius: 8px;
      border-color: #3f51B5;
      margin: 0;
  }
}

@media screen and (max-width: 640px){
  ::ng-deep .mat-card-header {
      width: 240px;
  }
}


button {
  margin: 0.5rem;
  padding: 0.2rem;
}

