<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="((isHandset$ | async) || (isTablet$ | async) )? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar style="text-align: center;" >LOGO</mat-toolbar>
    <mat-nav-list *ngIf="!(afAuth.authState | async)">
      <a mat-list-item [routerLink]="['/']" (click)="drawer.close()">Αρχική</a>
      <a mat-list-item [routerLink]="['/login']" (click)="drawer.close()">Είσοδος</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="(afAuth.authState | async)">
      <a mat-list-item [routerLink]="['/']" (click)="drawer.close()" >Αρχική</a>
      <a mat-list-item [routerLink]="['/courses']" (click)="drawer.close()">Μαθήματα</a>
      <ng-container *ngIf="admin">
        <a mat-list-item [routerLink]="['/admin']" (click)="drawer.close()">Admin</a>
      </ng-container>
      <a mat-list-item [routerLink]="['/']" (click)="drawer.close(); authService.signOut()">Έξοδος</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button *ngIf="!(isDesktop$ | async)" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="navbar-before"  *ngIf="(isDesktop$ | async) && !(afAuth.authState | async)">
          <a mat-stroked-button color="primary" [routerLink]="['/']"> Αρχική </a>
          <a mat-stroked-button color="primary" [routerLink]="['/login']"> Είσοδος </a>
      </div>
      <div class="navbar" *ngIf="(isDesktop$ | async) && (afAuth.authState | async)">
        <a mat-stroked-button color="primary" [routerLink]="['/']" (click)="drawer.close()" >Αρχική</a>
        <ng-container *ngIf="admin">
          <a mat-stroked-button color="primary" [routerLink]="['/admin']"> Admin </a>
        </ng-container>
        <a mat-stroked-button color="primary" [routerLink]="['/courses']"> Μαθήματα </a>
        <a mat-stroked-button color="primary" style="flex-grow: 3;" (click)="authService.signOut()"> Έξοδος!! </a>
    </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
