.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: white;
}

.sidenav {
  width: 200px;
  background-color: white
}
.mat-sidenav-content{
  z-index: -1;
  overflow: hidden;
}

.sidenav .mat-toolbar {
  //background: red;
  background-color: red;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.navbar{
  z-index: -1;
  overflow: hidden;
  background-color: yellow;
  a.mat-stroked-button {
    color: red;
    text-decoration: none;
    font-size: medium;
  }
  a.mat-stroked-button:hover{
    background-color:lightgray;
    color: white;
  }
}
