<div matDialogTitle> {{ this.data.title }} </div>
<div matDialogContent>
  <mat-accordion [multi]="false">
    <mat-expansion-panel #sections [expanded]="true" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ενότητες
        </mat-panel-title>
      </mat-expansion-panel-header>
      Ενοτητα 1: P test
      Ενοτητα 1: P test
      Ενοτητα 1: P test
    </mat-expansion-panel>
    <mat-expansion-panel #info [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Πληροφορίες
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ this.data.bio }} </p>
    </mat-expansion-panel>
    <mat-expansion-panel #pay [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Πληρωμή με κάρτα
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div id="card-payment"></div>
      <ng-container *ngIf="!done else paymentDone">
        <mat-bar-button style="margin-left: 6px;" [options]="btnOpts" (click)="handlePayment($event)"></mat-bar-button>
      </ng-container>
      <ng-template #paymentDone>
        <button mat-icon-button color="primary"><mat-icon>check_circle</mat-icon></button>
      </ng-template>
  </mat-expansion-panel>
  </mat-accordion>
</div>
<div id="card-errors" role="alert"></div>

