.StripeElement {
  height: 40px;
  padding: 10px 12px;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: whitesmoke;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 100%;
}

.text {
  text-align: center;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #4f69c6;
}

.StripeElement--invalid {
  border-color: #f15c3f;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  position: relative;
  color: red;
  text-align: center;
  width: 100%;
  top: 40px;
  font-size: small;
}

.mat-bar-button {
  margin-left: 8px;
}
