<div class="grid-container">
  <div class="grid-row" style="text-align: center;"><h4> {{ this.data.title }} </h4></div>
  <div class="grid-row"><img src='{{ this.data.image_ref }}' style="height:150px; width: 250px;"></div>
  <div id="card-payment"></div>
  <div class="grid-row" style="text-align: center;" >
    <ng-container *ngIf="!done else paymentDone">
      <mat-bar-button  [options]="btnOpts" (click)="handlePayment($event)"></mat-bar-button>
    </ng-container>
    <ng-template #paymentDone>
      <button mat-icon-button color="primary"><mat-icon>check_circle</mat-icon></button>
    </ng-template>
  </div>
  <div id="card-errors" role="alert"></div>

</div>
