/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0;}
body {  font-family: 'Nunito Sans', sans-serif; }

.snack-styling{
  background-color: #3F51B5;
  color: whitesmoke;
}

.pay-btn {
  margin-left:2.5rem; margin-top: 1.5rem;
  padding: 0.5rem;
}

